@media(min-width:1281px){
  #datatable td{
      padding:5px!important
  }
}

@media(min-width:1025px) and (max-width:1280px){
  #datatable td{
      padding:5px!important
  }
}

@media(min-width:768px) and (max-width:1024px){
}

@media(min-width:768px) and (max-width:1024px) and (orientation:landscape){
}

@media only screen and (max-width:767px){

  .filter-data{
      width: 110%;
      margin-left: -5%;
  }  

  #datatable td{
      vertical-align:middle;
      min-height:20px;
      border:.7px solid #ddd
  }
  .action{
      text-align:right
  }
  .table-bordered{
      border:0
  }
  .screen{
    margin-top:80px
  }
  #selection{
      position:absolute;
      right:0;
      margin-top:20px;
      z-index:2
  }
  #selection button{
      margin-right:30px!important
  }
  .show table tr th{
      border:0
  }
  .show table tr{
      border:1px solid #ddd
  }
  .show table tr td{
      border-top:1px solid #ddd;
      min-height:30px
  }
  table.dataTable{
      width:100%!important
  }
  #datatable_paginate{
      width:110%;
      text-align:center
  }
  .header-right{
      position:fixed;
      z-index:3;
      border-bottom:1px solid #ddd
  }
  .table{
      border:1px solid #EFEFEF!important
  }
  #datatable td{
      display:block;
      text-align:left;
      padding:3% 10px 3%;
      position:relative
  }
  #datatable td:before{
      margin-top:16px;
      font-weight:10;
      text-align: left;
      position:absolute;
      top:30%;
      left:10px;
      transform:translateY(-50%)!important;
      max-width:30%
  }
  .form-horizontal{
      padding-bottom:0
  }
  .form-horizontal .form-group{
      margin-left:-15px
  }
  .form-horizontal .control-label{
      background-color:unset;
      margin-left:10px;
      margin-bottom: 0px;
  }
  #add{
      position:fixed;
      bottom:-5px;
      text-align:right;
      left:15px;
      z-index:6
  }
  #total{
      clear:both;
      margin:10px
  }
  .date{
      width:100%!important;
      height:34px;
      padding:6px 12px;
      background-color:#fff;
      border:1px solid #ccc;
      border-radius:4px!important;
      -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
  }
  #action-master .chosen-container-single{
      margin-bottom:10px
  }
  #action-master .row{
      margin-right:-7px
  }
  #right{
      margin-top:65px
  }
  .dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{
      float:none;
      text-align:center
  }
  .dataTables_wrapper .dataTables_paginate{
      margin-top:.5em
  }
  .form-horizontal .form-group{
      margin-left:-15px!important;
      margin-right:-15px!important
  }

  .trumbowyg-button-pane{
      min-height:25px;
      text-align:left
  }
  .trumbowyg-button-pane button{
      width:25px;
      height:25px
  }
  .trumbowyg-button-pane .trumbowyg-button-group::after{
      height:25px
  }
}

@media(min-width:481px) and (max-width:767px){
  .action{
      text-align:right
  }
  .table-bordered{
      border:0
  }
  .screen{
      margin-top:75px
  }

  .filter-search{
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 10px;
  }

  .form-group{
    .filter-search{
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 10px;
      }    
  }

  #selection{
      position:absolute;
      right:0;
      margin-top:20px;
      z-index:2
  }
  #selection button{
      margin-right:30px
  }
  .show table tr th{
      border:0
  }
  .show table tr{
      border:1px solid #ddd
  }
  .show table tr td{
      border-top:1px solid #ddd;
      min-height:30px
  }
  table.dataTable{
      width:100%!important
  }
  #datatable_paginate{
      width:110%;
      text-align:center;
      padding:5px;
      margin-left: -20px;
  }
  .header-right{
      position:fixed;
      z-index:3;
      border-bottom:1px solid #ddd
  }
  #datatable td{
      text-align:right!important;
      padding:3% 10px 3%;
      position:relative!important;
      vertical-align:middle
  }
  #datatable th{
      display:none!important
  }
  #datatable td:before{
      text-align: left;
      font-weight:10!important;
      position:absolute!important;
      top:30%!important;
      left:10px!important;
      transform:translateY(-50%)!important;
      max-width:40%!important
  }
  .table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>th{
      border:0
  }
  .table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td,.table-bordered>thead>tr>td{
      border-top:1px solid #ddd;
      border-right:0 solid #ddd;
      border-left:0 solid #ddd;
      border-bottom:0 solid #ddd
  }
  .btn-block{
      display:inline
  }
  #datatable_info{
      width: 110%;
      margin-left:40%!important
  }
  #action-master .chosen-container-single{
      margin-bottom:10px
  }
  #action-master .row{
      margin-right:-7px
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: unset;
    border: 1px solid unset;
    background-color: unset;
  }
}

@media(min-width:320px) and (max-width:480px){
  .action{
      text-align:right
  }
  .table-bordered{
      border:0
  }
  .screen{
    margin-top:78px
  }

  .filter-search{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
  }

  #transaction input{
      font-size: 11px;
  }
  
  .group-search{
    .form-group{
        .filter-search{
            margin-left: 17px;
            margin-right: 17px;
            margin-bottom: 10px;
        }    
    }
  }

  #selection{
      position:absolute;
      right:0;
      margin-top:20px;
      z-index:2
  }
  #selection button{
      margin-right:30px
  }
  .show table tr th{
      border:0
  }
  .show table tr{
      border:1px solid #ddd
  }
  .show table tr td{
      border-top:1px solid #ddd;
      min-height:30px
  }
  table.dataTable{
      width:100%!important
  }
  #datatable_paginate{
      width:110%;
      text-align:center;
      padding:5px;
      margin-left: -20px;
  }
  .header-right{
      position:fixed;
      z-index:3;
      border-bottom:1px solid #ddd
  }
  #datatable td{
      text-align:right!important;
      padding:3% 10px 3%;
      position:relative!important;
      vertical-align:middle
  }
  #datatable th{
      display:none!important
  }
  #datatable td:before{
      font-weight:10;
      position:absolute;
      top:20%;
      left:10px;
      text-align: left;
      transform:translateY(-50%);
      max-width:30%
  }
  .table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>th{
      border:0
  }
  .table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td,.table-bordered>thead>tr>td{
      border-top:1px solid #ddd;
      border-right:0 solid #ddd;
      border-left:0 solid #ddd;
      border-bottom:0 solid #ddd
  }
  .btn-block{
      display:inline
  }
  #datatable_info{
      width: 110%;
      margin-left:40%!important
  }
  #action-master .chosen-container-single{
      margin-bottom:10px;
      margin-right:-5px
  }
  #action-master select{
      margin-bottom:10px
  }
  #action-master .row{
      margin-right:-7px
  }
}

@media only screen and (max-width:991px) {
    .table.table-no-more,
    .table.table-no-more tbody,
    .table.table-no-more td,
    .table.table-no-more th,
    .table.table-no-more thead,
    .table.table-no-more tr {
        display: block
    }
    .table.table-no-more thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px
    }
    .table.table-no-more td {
        border: 0;
        position: relative;
        padding-left: 50%;
        text-align: left;
        white-space: normal
    }
    .table.table-no-more td:before {
        content: attr(data-title);
        font-weight: 700;
        left: 6px;
        padding-right: 10px;
        position: absolute;
        text-align: left;
        top: 8px;
        white-space: nowrap;
        width: 45%
    }
    .table.table-no-more.table-bordered td {
        border-bottom: 1px solid #EFEFEF
    }
    .table.table-no-more.table-condensed td:before {
        top: 5px
    }
    html.dark .table.table-no-more tr,
    html.dark .table.table-no-more.table-bordered td {
        border-bottom-color: #262b33
    }
}